@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 0, 0, 0;
}


/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
    scroll-behavior: smooth;
    font-size: 13px;
}

body {
    color: rgb(var(--foreground-rgb));
    background: #ffffff;
    font-family: gotham, sans-serif;
    overflow-x: hidden;
}

:focus {
    outline: none;
}

main {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.card-outside {
    scroll-behavior: smooth;
}

.card {
    color: rgb(55 65 81);
}

.arrow:disabled>img {
    filter: opacity(0.35);
}

@media screen and (min-width: 640px) {
    html {
        font-size: 14px;
    }
    .card-outside::-webkit-scrollbar {
        height: 6px;
        width: 6px;
    }
    .card-outside::-webkit-scrollbar-thumb {
        background-color: rgb(209, 213, 219);
        border-radius: 500px;
    }
}